
@media screen and (max-width: 1376px){

}

@media screen and (max-width: 1200px){
    #nav-left > section > h1 {
        width: 240px;

    }
}


@media screen and (max-width: 1024px){
    .settings{
        display:block;
    }
   .nav-left-container{
        display:none;
    }
   .content-container{
       width: 90%;
   }
}


@media screen and (max-width: 768px){

}


@media screen and (max-width: 544px){

}



