:root {
    --border-bottom:  #de6412;

}

@media screen and (max-width: 1376px){

}

@media screen and (max-width: 1200px){
    #nav-left > section > h1 {
        width: 240px;

    }
}


@media screen and (max-width: 1080px){
    .btn-book{
        display:flex;
    }
   .nav-left-container{
        display:none;
    }
   .content-container{
       width: 90%;
   }

    .nav-left-container{
        width:0;
    }
    .button-nav-container {
        justify-content: center;
        align-items: center;
    }
    .booklet-mobile{
        height:50px;
    }
    .booklet-overlay{
        position:fixed;
        top:0;
        height:100vh;
        width:100%;
        z-index: 95;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .showBlock{
        display:block;
    }
    #nav-header{
        flex-direction: column-reverse;
    }
    .category{
        width: 100%;
        height: 50px;
        justify-content: flex-end;
        border-bottom: 1px solid var(--border-bottom);
    }
    .diverse{
        width: 100%;
        height: 60px;
    }


    .category > ul {
        height: inherit;
        /*border: 3px solid blue;*/
    }
    .content-container{
        margin: 140px auto;

    }
    #nav-left{
        top: 110px;
    }


}


@media screen and (max-width: 768px){

}


@media screen and (max-width: 544px){

}



